# Part C

A list of the top 10 longest sessions, with the following information about each session: userid, timestamp of first and last songs in the session, and the list of songs played in the session (BONUS: provide these in order of play).

A user’s “session” to be comprised of one or more songs played by that user, where each song is started within 20 minutes of the previous song’s start time.

### 10 longest sessions

Let's import pandas and read in the file as usual.

In [1]:
import pandas as pd

In [2]:
df = pd.read_table('Files/userid-timestamp-artid-artname-traid-traname.tsv',
                   names=['userid', 'timestamp', 'artid', 'artname', 'traid', 'traname'],
                   header=None)

Notice that timestamp is object data type. I want to change it to datetime to perform operations on it.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835873 entries, 0 to 835872
Data columns (total 6 columns):
userid       835873 non-null object
timestamp    835873 non-null object
artid        810829 non-null object
artname      835873 non-null object
traid        733552 non-null object
traname      835873 non-null object
dtypes: object(6)
memory usage: 38.3+ MB

In [4]:
df.head()

,userid,timestamp,artid,artname,traid,traname
0,user_000001,2009-05-04T23:08:57Z,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007
1,user_000001,2009-05-04T13:54:10Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15)
2,user_000001,2009-05-04T13:52:04Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc2 (Live_2009_4_15)
3,user_000001,2009-05-04T13:42:52Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Hibari (Live_2009_4_15)
4,user_000001,2009-05-04T13:42:11Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc1 (Live_2009_4_15)

Changing timestamp to datetime data type.

I verify the change using df.info(), and also eyeball the data using df.head()

In [5]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835873 entries, 0 to 835872
Data columns (total 6 columns):
userid       835873 non-null object
timestamp    835873 non-null datetime64[ns]
artid        810829 non-null object
artname      835873 non-null object
traid        733552 non-null object
traname      835873 non-null object
dtypes: datetime64[ns](1), object(5)
memory usage: 38.3+ MB

In [7]:
df.head()

,userid,timestamp,artid,artname,traid,traname
0,user_000001,2009-05-04 23:08:57,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007
1,user_000001,2009-05-04 13:54:10,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15)
2,user_000001,2009-05-04 13:52:04,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc2 (Live_2009_4_15)
3,user_000001,2009-05-04 13:42:52,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Hibari (Live_2009_4_15)
4,user_000001,2009-05-04 13:42:11,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc1 (Live_2009_4_15)

As a bonus, we want to display the list of songs in order of play. Let's do that right now.

I take a look at the first few lines to see that the play list is ordered by timestamp.

In [8]:
df.sort_values(['userid','timestamp'], inplace=True)

In [9]:
df.head()

,userid,timestamp,artid,artname,traid,traname
16684,user_000001,2006-08-13 13:59:20,09a114d9-7723-4e14-b524-379697f6d2b5,Plaid & Bob Jaroc,c4633ab1-e715-477f-8685-afa5f2058e42,The Launching Of Big Face
16683,user_000001,2006-08-13 14:03:29,09a114d9-7723-4e14-b524-379697f6d2b5,Plaid & Bob Jaroc,bc2765af-208c-44c5-b3b0-cf597a646660,Zn Zero
16682,user_000001,2006-08-13 14:10:43,09a114d9-7723-4e14-b524-379697f6d2b5,Plaid & Bob Jaroc,aa9c5a80-5cbe-42aa-a966-eb3cfa37d832,The Return Of Super Barrio - End Credits
16681,user_000001,2006-08-13 14:17:40,67fb65b5-6589-47f0-9371-8a40eb268dfb,Tommy Guerrero,d9b1c1da-7e47-4f97-a135-77260f2f559d,Mission Flats
16680,user_000001,2006-08-13 14:19:06,1cfbc7d1-299c-46e6-ba4c-1facb84ba435,Artful Dodger,120bb01c-03e4-465f-94a0-dce5e9fac711,What You Gonna Do?

Let's define a function to group the play list into sessions with the constraint that a user’s session is to be comprised of one or more songs played by that user, where each song is started within 20 minutes of the previous song’s start time.

In [10]:
def groupSessions(df):
    users = df.userid.unique()
    users_dfs = []
    for user in users:
        df_user = df[df['userid'] == user].copy()
        df_user['tDiff'] = df_user['timestamp'].diff()
        df_user['check20mins'] = df_user['tDiff'] > pd.Timedelta(minutes=20)
        df_user['tDiff_forSum'] = df_user[['tDiff','check20mins']].apply(
            lambda x: x['tDiff'] if x['check20mins'] == False else pd.Timedelta(0), axis=1)          
        
        check20mins_list = list(df_user.check20mins)
        sessions = []
        session_id = 1
        sessions.append(session_id)
        for i in range(1, len(check20mins_list)):
            if check20mins_list[i] == True:
                session_id += 1
                sessions.append(session_id)            
            else:
                sessions.append(sessions[i-1])   
        df_user['Sessions'] = sessions
        users_dfs.append(df_user)

    df = pd.concat(users_dfs)
    return df

Running the function returns a transformed dataframe with the play list grouped into sessions by userid.

In [11]:
df = groupSessions(df)

Take a look at the first few lines and verify that Sessions column is created successfully.

In [12]:
df.head(10)

,userid,timestamp,artid,artname,traid,traname,tDiff,check20mins,tDiff_forSum,Sessions
16684,user_000001,2006-08-13 13:59:20,09a114d9-7723-4e14-b524-379697f6d2b5,Plaid & Bob Jaroc,c4633ab1-e715-477f-8685-afa5f2058e42,The Launching Of Big Face,NaT,False,NaT,1
16683,user_000001,2006-08-13 14:03:29,09a114d9-7723-4e14-b524-379697f6d2b5,Plaid & Bob Jaroc,bc2765af-208c-44c5-b3b0-cf597a646660,Zn Zero,00:04:09,False,00:04:09,1
16682,user_000001,2006-08-13 14:10:43,09a114d9-7723-4e14-b524-379697f6d2b5,Plaid & Bob Jaroc,aa9c5a80-5cbe-42aa-a966-eb3cfa37d832,The Return Of Super Barrio - End Credits,00:07:14,False,00:07:14,1
16681,user_000001,2006-08-13 14:17:40,67fb65b5-6589-47f0-9371-8a40eb268dfb,Tommy Guerrero,d9b1c1da-7e47-4f97-a135-77260f2f559d,Mission Flats,00:06:57,False,00:06:57,1
16680,user_000001,2006-08-13 14:19:06,1cfbc7d1-299c-46e6-ba4c-1facb84ba435,Artful Dodger,120bb01c-03e4-465f-94a0-dce5e9fac711,What You Gonna Do?,00:01:26,False,00:01:26,1
16679,user_000001,2006-08-13 14:23:03,6b77d8ef-c405-4846-9d5f-2b93e6533101,Rei Harakami,777ac51f-8ffc-4c44-92b6-a2c75cbc6915,Joy,00:03:57,False,00:03:57,1
16678,user_000001,2006-08-13 14:44:23,6b77d8ef-c405-4846-9d5f-2b93e6533101,Rei Harakami,328913b8-f31f-4abf-976e-7641174f680b,Lust,00:21:20,True,00:00:00,2
16677,user_000001,2006-08-13 14:55:14,27613b78-1b9d-4ec3-9db5-fa0743465fdd,Herbie Hancock,8e81302a-6cde-4818-8703-43b5356ce0a0,The Essence,00:10:51,False,00:10:51,2
16676,user_000001,2006-08-13 14:59:59,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,1c0377bb-c00b-4bbe-b4b2-615f13324adc,Idioteque,00:04:45,False,00:04:45,2
16675,user_000001,2006-08-13 15:05:20,477d1c52-3100-4493-a049-473d8f183e23,高木正勝,8f916d23-0510-4ad5-9a7f-8a076c3f14ca,Change Of Seasons,00:05:21,False,00:05:21,2

Now that we have sessions grouped, we want to group them by the longest sessions. 

We also want the timestamp of first and last songs, and the list of songs played in the session. The list of songs will be in order of play, we have taken care of this in the beginning.

Let's define a function to achieve the above set of objectives.

In [13]:
def longestSessions(df):
    grouped = (df.groupby(['userid','Sessions']).agg({'timestamp': ['first','last'],
                                      'tDiff_forSum': sum,
                                       'traname': lambda x: tuple(x.tolist())})
                                  .sort_values([('tDiff_forSum', 'sum')], 
                                             ascending=False)[:10])
    df_grouped = pd.DataFrame(grouped.to_records())
    df_grouped.columns = ['User ID','Sessions','Timestamp_FirstSong','Timestamp_LastSong',
                          'Duration','Songs']
    return df_grouped

In [14]:
df_longSes = longestSessions(df)

We run the function, and we get a list of the longest sessions as below. 

I have kept the Sessions column to verify the timestamps of first and last songs, and the Duration to get a sense of how long the sessions lasted. Later on I will remove these columns.

In [15]:
df_longSes

,User ID,Sessions,Timestamp_FirstSong,Timestamp_LastSong,Duration,Songs
0,user_000029,1120,2007-01-18 16:24:22,2007-01-23 02:17:49,4 days 09:53:27,"(Saints And Sinners - Pushing Too Hard, Musak ..."
1,user_000031,184,2007-05-14 17:22:35,2007-05-18 07:06:56,3 days 13:44:21,"(Bury Me, Simone, Spring 2008, 09-15-00, Part ..."
2,user_000029,2338,2008-07-18 19:47:33,2008-07-21 14:35:01,2 days 18:47:28,"(Make It Till Monday, What Does Your Soul Look..."
3,user_000019,306,2006-02-24 19:36:29,2006-02-27 12:59:12,2 days 17:22:43,"(New Skin, Die Gedanken Sind Frei (Thoughts Ar..."
4,user_000033,867,2008-11-22 00:29:41,2008-11-24 10:56:04,2 days 10:26:23,"(咲かせてみて, 今夜だふ, 雌花 故 雄花, 光合成, 雌花 故 雄花, 光合成, 真夜中..."
5,user_000029,1138,2007-01-29 21:42:33,2007-02-01 02:02:32,2 days 04:19:59,"(Asleep In The Back, Newborn, Don'T Mix Your D..."
6,user_000029,1118,2007-01-15 17:11:26,2007-01-17 19:36:24,2 days 02:24:58,"(Cass And Slide - Perception, Pob Feat. Patric..."
7,user_000024,320,2008-05-15 20:38:57,2008-05-17 22:47:00,2 days 02:08:03,"(The Perfecto Dub, Hold My Hand (Dubfire Remix..."
8,user_000031,175,2007-04-30 19:48:09,2007-05-02 18:16:10,1 days 22:28:01,(Hear My Train A Comin' (Get My Heart Back Tog...
9,user_000024,37,2007-02-02 02:39:09,2007-02-04 01:01:41,1 days 22:22:32,"(Rollerball, Here It Comes, Does He Love You?,..."

Let's eyeball and check few details like the timestamps and whether the list of songs is displayed in order. 

I use the first example to spot check this.

In [16]:
df[(df['userid'] == 'user_000029') & (df['Sessions'] == 1120)].head()

,userid,timestamp,artid,artname,traid,traname,tDiff,check20mins,tDiff_forSum,Sessions
724331,user_000029,2007-01-18 16:24:22,95162abf-5128-4c88-ae79-5cd6f5f81a9f,Sasha & John Digweed,NaN,Saints And Sinners - Pushing Too Hard,13:55:40,True,00:00:00,1120
724330,user_000029,2007-01-18 16:29:59,95162abf-5128-4c88-ae79-5cd6f5f81a9f,Sasha & John Digweed,NaN,Musak (Wonderland Avenue Remix),00:05:37,False,00:05:37,1120
724329,user_000029,2007-01-18 16:36:37,95162abf-5128-4c88-ae79-5cd6f5f81a9f,Sasha & John Digweed,NaN,West On 27Th (A Tribe Called Khz Mix),00:06:38,False,00:06:38,1120
724328,user_000029,2007-01-18 16:44:50,95162abf-5128-4c88-ae79-5cd6f5f81a9f,Sasha & John Digweed,NaN,Tyrantanic (Slacker'S Kingdom Come Mix),00:08:13,False,00:08:13,1120
724327,user_000029,2007-01-18 16:48:51,95162abf-5128-4c88-ae79-5cd6f5f81a9f,Sasha & John Digweed,NaN,Luzon - The Baguio Track (Digweed/Muir Bedrock...,00:04:01,False,00:04:01,1120

In [17]:
df[(df['userid'] == 'user_000029') & (df['Sessions'] == 1120)].tail()

,userid,timestamp,artid,artname,traid,traname,tDiff,check20mins,tDiff_forSum,Sessions
723308,user_000029,2007-01-23 01:56:11,68be8273-cb12-4053-964d-157b7e5cf265,Sasha,NaN,Quiver - Everything Not You,00:05:03,False,00:05:03,1120
723307,user_000029,2007-01-23 02:03:23,68be8273-cb12-4053-964d-157b7e5cf265,Sasha,NaN,Morgan King - I'M Free,00:07:12,False,00:07:12,1120
723306,user_000029,2007-01-23 02:10:53,68be8273-cb12-4053-964d-157b7e5cf265,Sasha,NaN,Libra Presents Taylor - Anomaly,00:07:30,False,00:07:30,1120
723305,user_000029,2007-01-23 02:12:55,efa2c11a-1a35-4b60-bc1b-66d37de88511,Dj Shadow,NaN,This Time,00:02:02,False,00:02:02,1120
723304,user_000029,2007-01-23 02:17:49,efa2c11a-1a35-4b60-bc1b-66d37de88511,Dj Shadow,70edb0cb-5b12-47fc-861e-f73f19e97bdd,Building Steam With A Grain Of Salt (Alternate...,00:04:54,False,00:04:54,1120

Now that we are happy with the results, we can drop the columns Sessions and Duration. 

These columns are not part of the requirements hence not required to be displayed in the final answer.

In [18]:
df_longSes.drop(['Sessions','Duration'], axis=1, inplace=True)

And here is the final answer - list of top 10 longest sessions with the required information about each session, along with the bonus.

In [19]:
df_longSes

,User ID,Timestamp_FirstSong,Timestamp_LastSong,Songs
0,user_000029,2007-01-18 16:24:22,2007-01-23 02:17:49,"(Saints And Sinners - Pushing Too Hard, Musak ..."
1,user_000031,2007-05-14 17:22:35,2007-05-18 07:06:56,"(Bury Me, Simone, Spring 2008, 09-15-00, Part ..."
2,user_000029,2008-07-18 19:47:33,2008-07-21 14:35:01,"(Make It Till Monday, What Does Your Soul Look..."
3,user_000019,2006-02-24 19:36:29,2006-02-27 12:59:12,"(New Skin, Die Gedanken Sind Frei (Thoughts Ar..."
4,user_000033,2008-11-22 00:29:41,2008-11-24 10:56:04,"(咲かせてみて, 今夜だふ, 雌花 故 雄花, 光合成, 雌花 故 雄花, 光合成, 真夜中..."
5,user_000029,2007-01-29 21:42:33,2007-02-01 02:02:32,"(Asleep In The Back, Newborn, Don'T Mix Your D..."
6,user_000029,2007-01-15 17:11:26,2007-01-17 19:36:24,"(Cass And Slide - Perception, Pob Feat. Patric..."
7,user_000024,2008-05-15 20:38:57,2008-05-17 22:47:00,"(The Perfecto Dub, Hold My Hand (Dubfire Remix..."
8,user_000031,2007-04-30 19:48:09,2007-05-02 18:16:10,(Hear My Train A Comin' (Get My Heart Back Tog...
9,user_000024,2007-02-02 02:39:09,2007-02-04 01:01:41,"(Rollerball, Here It Comes, Does He Love You?,..."